.hero-container {
    background-image: linear-gradient(to bottom, rgba(2, 25, 46, 0.279), rgb(2, 25, 46)), url('../../assets/home/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
}

.rating-btn {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.carousel-gap {
    padding: 0 10px;
}

/* shape maker */
.custom-shape-divider-top-1724903460 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1724903460 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 475px;
}

.custom-shape-divider-top-1724903460 .shape-fill {
    fill: #37b45a;
}

.review-section {
    background-image: linear-gradient(to bottom, rgba(166, 165, 165, 0.22), rgba(42, 43, 43, 0.445)), url('../../assets/home/review.jpg');
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.post-submission {
    width: fit-content;
}

.review-section .ant-statistic-title,
.ant-statistic-content-value {
    color: white;
}

.custom-rating .ant-rate-star-zero span {
    color: rgba(255, 255, 255, 0.448) !important;
}

.custom-rating .ant-statistic-content {
    display: flex;
    gap: 20px;
}

.card-rating {
    margin-bottom: 20px;
    margin-left: 45px;
}

.see-all-review-btn:hover {
    color: #61f88b !important;
}


.user-feedback-input {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.797);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    gap: 20px;
    height: 500px;
}

@media (max-width: 1023px) {
    .hero-container {
        height: 60vh;
    }

    .hero {
        gap: 0px;
    }

    .hero .subtitle {
        font-size: 18px;
    }

    .rating-btn {
        font-size: 18px;
        font-weight: 500;
    }

    .review-section {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}