@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.margin-x {
    margin: 0, 20px !important;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

.white-color {
    color: white !important;
}

.custom-btn {
    text-transform: uppercase;
    font-weight: 500;
}

.custom-btn:hover {
    background-color: rgb(2, 156, 173) !important;
}

.section-container {
    padding: 0 200px;
    position: relative;
}

.margin-y-medium{
    margin: 80px 0;
}
.padding-y-medium{
    padding-top: 80px ;
    padding-bottom: 80px;
}
.margin-x-small{
    margin: 60px 0;
}

.text-green{
    color: #37B45A ;
}
.bg-green{
    background-color: #37B45A ;
}