@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #37B45A;
    --secondary-color: rgb(2, 156, 173);
}

.margin-x {
    margin: 0, 20px !important;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.white-color {
    color: white !important;
}

.custom-btn {
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--secondary-color);
}

.custom-btn:hover {
    background-color: var(--primary-color);
}

.section-container {
    padding: 0 200px;
    position: relative;
    min-height: 80vh;
}

.margin-y-medium{
    margin: 80px 0;
}
.padding-y-medium{
    padding-top: 80px ;
    padding-bottom: 80px;
}
.margin-x-small{
    margin: 60px 0;
}

.text-green{
    color: var(--primary-color) ;
}
.bg-green{
    background-color: var(--primary-color) ;
}

.form-bg {
    background-image: url("./assets/login/login.jpg");
    background-position: center center;
    background-size: cover;
}

.custom-form {
    border: 1px solid rgba(214, 214, 214, 0.548);
    padding: 30px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 50px rgb(5, 149, 215);
}

