.dash-layout{
    position: relative;
}
.dash-sidebar {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 200px !important;
}

.dash-content {
    margin-left: 220px !important;
}

.float-btn{
    position: fixed;
    left: 20px;
    top: 100px;
    z-index: 2000;
}